@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: sevenSegment;
    src: url('./font/Seven\ Segment.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("./img/backIMG.png");
    height: 100vh;
    width: 100vw;
    background-color: #f9f7f4;
    background-position: 100% 0;
    background-position-x: 98%; /* 120 */
    background-position-y: 0px;  /* 0 */
    background-repeat: no-repeat;
    background-size: 50%;
    padding-top: 13rem;
    background-size: auto 100%;  /* 80 */
    transition: all 1s ease-in-out;
    overflow: hidden;
}

nav {
    height: 70px;
    width: 70vw;
    position: absolute;
    top: 0;
    padding-left: 42px;
    margin-top: 12px;
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 52px;
}
/* Home */
.Home{
    height: 50vh;
    width: 50VW;
    position: absolute;
    left: 114px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    font-family: "Roboto Mono", serif;
    transition: all 1s ease-in-out;
    position: relative;
}
.headHome h1{
    font-size: 35px;
}
.paraHome p{
    font-size: 12px;
    width: 32vw;
    margin-top: -23px;
}
.btnGo button{
    height: 50px;
    width: 170px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: #f8f441;
    border: none;
    font-size: 15px;
}
.btnGo button:hover{
    background-color: #f8f5418b;
}


.img img {
    height: 160px;
    width: 160px;

}

.navCon h3:hover {
    color: black;
    cursor: pointer;
}

.navCon h3 {
    font-family: "Ysabeau SC", serif;
    color: #686663;
    transition: all 0.5s ease;
}

.navCon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
}


#allConHere{
    margin-top: 65vh;
    transition: all 1s ease-in-out;
}

.op {
    height: 120px;
    width: 100vw;
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.aja:hover .hover {
    height: 300px;
    width: 300px;
    background-color: bisque;
}

.aja button {
    height: 50px;
    width: 100px;
    font-size: 16px;
    border: 2px solid black;
    background: transparent;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    font-family: "Roboto Mono", serif;
    font-weight: 500;
}

.hover {
    background-color: yellow;
    height: 10px;
    width: 10px;
    position: relative;
    z-index: 1;
    transition: all 0.8s ease-in-out;
    border-radius: 5px;
    margin-top: -12px;
    margin-left: -12px;
}

.aja {
    height: 50px;
    width: 100px;
    display: flex;
    overflow: hidden;
}

.mainCont {
    height: 65vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.box1 {
    height: 55vh;
    width: 460px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 2px 2px 15px #b2b1b0, -2px -2px 15px #b2b1b0;
}

.box2 {
    height: 25vh;
    width: 560px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(241, 224, 224, 1) 50%, rgba(224, 199, 49, 1) 100%);
    border-radius: 8px;
    box-shadow: 1px 1px 10px #7d7c7a, -1px -1px 10px #7d7c7a;
    position: relative;
    z-index: 999;
}

.box3 {
    height: 18vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.box3 button {
    cursor: pointer;
    height: 40px;
    width: 90px;
    border-radius: 5px;
    background: rgb(224, 199, 49);
    background: linear-gradient(90deg, rgba(224, 199, 49, 1) 0%, rgba(241, 224, 224, 1) 50%, rgba(255, 255, 255, 1) 100%);
    border: 1px solid black;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.box2 p {
    font-family: sevenSegment;
    font-size: 100px;
    font-weight: 500;
}

/* Pop */
.popCustm {
    height: 65vh;
    width: 660px;
    background-color: #f9f7f4;
    position: relative;
    left: -620px;
    z-index: 999;
    transition: all 1s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* input pop */
.inputBox {
    position: relative;
    width: 250px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(225, 225, 225, 0.853);
    border-radius: 5px;
    outline: none;
    transition: 0.5s;
    background: #1d2b3a;
    color: rgba(225, 225, 225, 0.853);
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.5s;
    color: rgba(225, 225, 225, 0.853);
    letter-spacing: 4px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: black;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid yellow;
    border-right: 1px solid yellow;
    letter-spacing: 0.2em;
    background-color: yellow;
}

.inputBox input:valid,
.inputBox input:focus {
    border-color: yellow;
}

.heacdOp h1 {
    font-family: "Roboto Mono", serif;
}

.addTime {
    height: 40px;
    width: 100px;
}

.addTime div {
    font-family: "Roboto Mono", serif;
    height: 40px;
    width: 100px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}