@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #040304;
    color: #fff;
}

.box {
    width: 100vw;
    height: 95vh;
    background-color: #f2f2f2;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.box iframe {
    height: 105vh;
    width: 100vw;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #2b2b2b;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.navq {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: black;
}

.navcrd {
    width: 50%;
    max-width: 1200px;
    height: 60px;
    background-color: #0f0e0f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 23px;
    padding: 0 20px;
}

.navcrd ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.navcrd ul li {
    list-style-type: none;
}

.navcrd ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navcrd ul li a:hover {
    background-color: #942dde;
    color: #fff;
}

.rightbox {
    height: 60vh;
    width: 4vw;
    position: absolute;
    top: 140px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 34px;
}

.rightbox img {
    height: 30px;
    margin-left: -19px;
}

body {
    transition: background-color 0.3s ease-in-out;
}

/* About */
.about {
    width: 100vw;
    height: 70vh;
    background-color: #040304;
    padding: 42px 12px;
}

.headabout {
    height: 38px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    color: #fff;
    text-align: center;
    gap: 11px;
}

.hcard1 {
    /* height: 46px; */
    /* width: 146px; */
    /* background-color: #942dde; */
    /* border: 1px solid white; */
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6px;
    color: #942dde;
}
.hcard1 h2{
    font-size: 39px;
}
.hcard1 hr{
    width: 18vw;
    height: 2px;
    border: none;
    background-color: #942dde;
    color: #942dde;
}

.hcard2 {
    transform: rotate(90deg);
}

.colorl {
    height: 120px;
    width: 120px;
    border: 1px solid white;
    position: absolute;
    left: 280px;
    background-color: #268fbc;
    box-shadow: 2px 2px 182px #268fbc, 2px 2px 182px #268fbc, -12px -12px 182px #268fbc;
    margin-top: 92px;
}

.aboutcont {
    width: 100vw;
    height: 70vh;
    margin-top: 92px;
    display: flex;
    justify-content: center;
}

.ccard1 {
    height: 50vh;
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ccard2 {
    height: 50vh;
    width: .3vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ccard3 {
    height: 50vh;
    width: 45vw;
    background-color: #040304;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 28px;
    gap: 16px;
}

.ccard3 h3 {
    color: #942dde;
    font-size: 26px;
}

.ccard3 p {
    font-size: 15px;
}

.ccard1 img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 24px;
    z-index: 1;
}

.hrline {
    width: 30vw;
    margin-right: -250px;

}

.cbtn button {
    width: 105px;
    height: 35px;
    background-color: aqua;
    border-radius: 7px;
    border: 1px solid white;
    margin-right: 22px;
    transition: all 0.5s ease;
}
.cbtn button:hover{
    cursor: pointer;
    background-color: #942dde;
}

.ccard2 img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    display: flex;
    z-index: 1;
}

/* skill */
.skills {
    height: 50vh;
    width: 100vw;
    padding: 42px 12px;
    /* display: flex; */
}

.skillscard {
    display: flex;
    width: 100vw;
    height: 70vh;
    margin-top: 92px;
    display: flex;
    justify-content: center;
}

.scard1 {
    height: 110px;
    width: 85px;
    border-radius: 7px;
    border: 1px solid white;
    margin: 13px 0px;

}

.sc1 {
    width: 88vw;
    height: 40vh;
    border: 1px solid aqua;
    padding: 0px 12px;
    border-radius: 7px;
    z-index: 1;
    background-color: #040304;
}

#scard11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 22px;
    padding: 0px 22px;
}

#scard11 h3 {
    color: #942dde;
    font-size: 26px;
}

#scard11 p {
    font-size: 15px;
}

#scard33 {
    box-sizing: border-box;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upscard {
    display: flex;
    align-items: center;
    gap: 23px;

}

.scard1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scard1 h2 {
    font-size: 14px;
}

.scard1:hover img {
    transform: rotateY(360deg);
    transition: transform 1.2s ease;
}

.scard1 img {
    height: 50px;
    width: 50px;
}

.hrr {
    width: 270px;
    margin-left: -13px;
}

#cl1 {
    height: 120px;
    width: 120px;
    border: 1px solid white;
    position: absolute;
    left: 1070px;
    background-color: #268fbc;
    box-shadow: 2px 2px 182px #268fbc, 2px 2px 182px #268fbc, -12px -12px 182px #268fbc;
    margin-top: 92px;
}

/* Project */
.projectcard {
    width: 100vw;
    height: 70vh;
    margin-top: 153px;
    padding: 42px 12px;
}

.pcard {
    width: 100vw;
    height: 70vh;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;

}

.unpacrd {
    background-color: #040304;
    border-radius: 8px;
    margin-top: 18px;
    width: 70vw;
    height: 70vh;
    border: 1px solid aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.pcardbox {
    border-radius: 12px;
    width: 20vw;
    height: 64vh;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.pcardbox p {
    padding: 0px 20px;
}

.pcardbox h2 {
    color: #ffffff;
}

.pcardbox button {
    height: 30px;
    border-radius: 4px;
    width: 95px;
    border: 1px solid white;
    background-color: aqua;
    transition: all 0.5s ease;
}

.pcardbox button:hover {
    background-color: #268fbc;
    cursor: pointer;
    border: 1px solid aqua;
}

.pcardbox img {
    height: 20vh;
    width: 18vw;
    object-fit: cover;
    border-radius: 5px;
}

.leftimg img {
    height: 80px;
    width: 80px;
}

#cl12 {
    z-index: -1;
    width: 62vw;
    height: 37vh;
    left: 290px;
}

/* contact */
.contactcard {
    margin-top: 165px;
}

.contactscard {
    height: 60vh;
    width: 100vw;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ccard121 {
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.f1 input {
    height: 50px;
    width: 20vw;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    margin: 13px;
    padding: 0px 17px;
}

.f1 textarea {
    width: 42vw;
    height: 25vh;
    border: 1px solid white;
    margin-left: 12px;
    margin-top: 12px;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    padding: 17px;
}

#f21 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    transition: all 0.5s ease;
}

.f1 button {
    width: 180px;
    height: 50px;
    border: 1px solid white;
    font-size: 18px;
    border-radius: 7px;
    background-color: #268fbc;
    transition: all 0.5s ease;
}

.imgfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-bottom: 32px;
}

.imgfooter img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

/* Footer */
.footercard {
    margin-top: 35px;
    height: 10vh;
    width: 100vw;
}

.footername {
    text-align: center;
}

#f21:hover button {
    cursor: pointer;
    background-color: aqua;
}


/* Add responsive design for smaller screens */
@media (max-width: 768px) {}